@model Loginpage.Models.UserModel;
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
   
    <meta name="abstract" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        body {
    background: #2962FF;
    font-family: Arial, Helvetica, sans-serif
}

.card {
    border-radius: 13px;
    border: none
}

.card-heading {
    font-weight: bold;
    font-family:
}

.form-control {
    border: none;
    border-radius: 10px;
    background: rgba(165, 147, 69, 0.075)
}

.btn {
    border: 1px solid #2979FF;
    border-radius: 10px;
    width: 120px
}

.forgot {
    font: #00ACC1;
    font-weight: bold;
    color: #26C6DA;
    font-size: 15px;
    padding-left: 35px
}

.form-control {
    background-color: #eee !important
}

.form-control:focus {
    color: #495057;
    border-color: #fff !important;
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, .25) !important
}

a {
    text-decoration: none !important
}
    </style>
</head>
<body>

<div class="container d-flex justify-content-center">
    <div class="card mx-5 my-5">
        <div class="card-body py-2 px-2">
            <h2 class="card-heading py-3 px-5">Log In</h2>
            <div class="row rone mx-3 my-3">
                <div class="col-md-6">
                      <label for="username" class="text-info">Username:</label><br>
                       @Html.TextBoxFor(m => m.username, new { @class = "form-control", @placeholder = "Username", @required = true })
                </div>
                <div class="col-md-6">
                      <label for="password" class="text-info">Password:</label><br>
                      @Html.PasswordFor(m => m.password, new { @class = "form-control", @placeholder = "Password", @required = true })
                </div>
            </div>
            <div class="row rtwo mx-3">
                <div class="col-md-6">
                    <div>
                        <button type="submit" class="btn btn-primary mb" value="submit">log In</button>
                    </div>
                </div>

            </div>
            <div style="color:red;">@ViewBag.message</div>
        </div>
    </div>
</div>

</body>
</html>
